<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:node="merge">

        <activity-alias
            android:name=".IconBirdAlias"
            tools:node="remove" />

        <activity-alias
            android:name=".IconDefaultAlias"
            tools:node="merge" />

    </application>

</manifest>

    <!-- insert this after line 40 of main manifest:
    <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>
    -->
